* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}
/*header*/
.header{
    background-color: #117A25;
    display: flex;
    height: 78px;
    align-items: center;
}

.header-itens{
    margin-left: 5% ;
}


.header-text{
    color: white;
}
/*main*/
.main{
    display: flex;
    align-items: center;
    justify-content: center;
}   
.main-center{
    margin-top: 10%;
   text-align: center;
   
}
.main-input{
    min-width: 300px;
    min-height: 30px;
    width: 70%;
    height: 30%;
}
.main-button{
    background-color: #117A25;
    color: #ffffff;
    min-width: 70px;
    min-height: 30px;
}

/*footer*/
.footer {
	position: absolute;
    bottom: 0;
    
    }

.footer-itens{
    margin-left: 40% ;
}